@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.title {
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: bold;
}

.image {
  width: 500px;
  height: 200px;
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
