<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
  </head>
  <body>

  </body>
</html>
